<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ '/' | relative_url }}">Home</a></li>
                    <li><a href="{{ '/papers' | relative_url }}">Papers</a></li>
                    <li><a href="{{ '/plugin-tool' | relative_url }}">Plugin Tool</a></li>
                    <li><a href="{{ '/about' | relative_url }}">About</a></li>
                    <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1 class="main-title">{{ page.title }}</h1>
        {{ content }}
        <a href="#" class="button">Install</a> <!-- Example button -->
        <a href="#" class="button">GitHub Repo</a> <!-- Example button -->
    </div>
</body>
</html>
